<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All SAF Suites">
    <suite-files>
        <suite-file path="src/test/resources/testSuites/testng-saucedemo.xml"/>
        <suite-file path="src/test/resources/testSuites/testng-reqres.xml"/>
    </suite-files>
</suite>